* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-family: Gotham-Medium;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.cl-blue {
    color: #2c2e53;
}

.cl-or {
    color: #bd945f;
}

.bg-cl-blue {
    background-color: #2c2e53;
}

.bg-cl-or {
    background-color: #bd945f;
}


header {
    margin: 1rem;
}

#header-nav ul li a {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #000;
}

#header-nav li {
    margin-left: 2.6rem;
    position: relative;
}

#header-nav ul li:hover ::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 70%;
    height: 0.2rem;
    background-color: #bd945f;
}

#header-nav .nav-icon {
    text-align: right;
    display: none;
    cursor: pointer;
}

#header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav_overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.header-nav-table {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff !important;
    margin-left: 15rem;
    display: none;
}

#header-menu-table {}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1280px;

    }
}

@media (min-width: 767px) and (max-width:1024px) {
    body {
        max-width: 1024px;
    }

    html {
        margin-left: .5rem
    }

    .container {
        max-width: 1024px;
    }

    #header-menu {
        display: none !important;


    }

    #header-nav .nav-icon {
        display: block;
    }



    .box-category img {
        width: 50%;

    }

    #about-us {
        background-image: url("/img/AnhCatTC/ve-chung-toi/bg-about-us.jpg");
        height: 54rem;
        position: relative;
    }

    #about-us .about-us-bottom .box-about-us {
        height: 100px;
    }

    #news .box-news {
        display: flex;
        justify-content: space-between;

    }

    #news .news-right p {
        font-family: Gotham-Thin;
        color: #000;
        text-align: justify;
        width: 11.5rem;
        margin-left: -2rem;
        font-size: .4rem;
        font-weight: bold;

    }

    #news .news-right a {
        color: #bd945f;
        text-transform: uppercase;

    }

    #news .content-news {
        background-color: #bd945f;
        padding: 1rem 1rem 1rem 2rem;
        position: absolute;
        bottom: 0;

    }

    #news .news-right h4 {
        color: #bd945f;
        font-size: 0.9rem;
        margin-bottom: 0;

    }

    .content-p {
        margin-left: 0 !important;
    }

    .img-news img {
        margin-left: -1.7rem;
    }

    #news .content-news {
        background-color: #bd945f;
        padding: 1rem 1rem 1rem 2rem;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-left: -1.7rem;


    }

    #news .content-news p {
        text-align: justify;
        width: 100%;
        color: #2c2e53;

    }

    #lien-he .lien-he-left {
        margin-left: 7rem;
        width: 15rem;

    }

    .lien-he-top {
        font-family: Gotham-Medium;
        font-size: 19px;

    }

    .lien-he-bottom {
        font-family: Gotham-Medium;
        font-size: 17px;
    }

    .img-ghe img {
        height: 250px;
        width: 105px;
        margin-left: 1rem;
        margin-top: 1rem;
    }


    #lien-he .form-label {
        color: #fff;
        font-family: Gotham-Medium;
        font-size: 14px;
    }

    #lien-he button {
        background-color: #fff;
        border: 0;
        font-size: 1rem;
        height: 2rem;
        margin-bottom: .3rem;
        font-family: Gotham-Medium;
        color: #2c2e53;
    }

    #lien-he input {
        width: 100%;
        height: 2rem;
        border-radius: 0;

    }

    footer {
        background-color: #363636;
        height: 10rem;
        display: flex;
    }

    .col-lg-5 {
        width: 45%;
    }

    .col-lg-4 {
        width: 25%;
    }

    .col-lg-3 {
        width: 30%;
    }



}

@media (min-width: 375px) {

    header {
        position: relative;
    }
    html{
        width: 100% !important;
    }
    body{
        min-width: 375px;
    }
    #header-nav {
        display: flex;
        align-items: center;
    }

    #header-nav .fa-solid.fa-bars {
        display: block;
    }

    #header-menu {
        display: none !important;
    }

    #header-nav .nav-icon {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        

    }

    header {
        position: relative;
        padding: 0;
    }

    #header-nav {
        width: 100%;
        justify-content: right;
    }

    #header-nav ul li:hover ::before {
        width: 10%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #bd945f;
    }
    /* ban */
    #banner h3 span {
        font-size: 1rem;
    }
    #banner .box-banner {
        left: 0.5rem;
    }

    #banner p {
        width: 17rem;
    }
    /* category */
    #category {
        width: 96%;
    }
    .box-category img {
        width: 100%;

    }

    #product {
        margin-top: -6rem;
    }

    #news .news-right p {
        font-family: Gotham-Thin;
        color: #000;
        text-align: justify;
        width: 5rem;
        margin-left: -2rem;
        font-size: 1rem;
        font-weight: bold;

    }

    #about-us .about-us-top p {
        opacity: 0;
        margin-bottom: -11rem;
    }

    #about-us .img-about-us a {
        font-size: 0.4rem;

    }

    #about-us .about-us-top h3 {
        font-size: .958rem;
    }

    #about-us .about-us-bottom .logo-about-us {
        margin: 0;
    }

    #about-us .about-us-bottom h5 {
        width: 10rem;
        font-size: .8rem;
    }

    #about-us .about-us-bottom p {
        width: 6rem;
        font-size: .5rem;
    }

    #about-us {
        height: 43rem;
    }

    #about-us::after {
        height: 43rem;
    }

    #news .news-right p {
        width: 7rem;
        margin-left: -1rem;
        font-size: .3rem;
        font-weight: bold;
    }

    #news .content-news h4 {
        color: #fff;
        font-size: 1.1rem;
        margin-bottom: -0.5rem;
        margin: 1rem .5rem;
        text-align: justify;
    }

    #news .news-right h4 {
        color: #bd945f;
        font-size: 0.9rem;
        margin-bottom: 0;
        height: 1rem;
    }

    #news .news-right .img-news img {
        max-width: 192px;
        max-height: 150px;
        object-fit: cover;
        margin-top: 0rem;
    }

    #news .content-news p {
        overflow: hidden;
        opacity: 0;
        margin-top: 1rem;
    }

    #news .content-news {
        height: 8.2rem;
        padding: 0;
    }

    #doi-tac {
        padding: 3rem 0 0 0;
    }

    .img-ghe img {
        height: 200px;
        width: 140px;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    #lien-he .lien-he-left {
        opacity: 0;
    }

    #lien-he input {
        width: 200px;
        height: 2rem;
        border-radius: 0;
        font-size: 12px;
        margin-left: -1rem;
    }

    #lien-he button {
        padding: 5px 30px;
        font-size: 12px;
        margin-bottom: 8.1rem;
    }

    .col-lg-5 {
        width: 45%;
        height: 10rem;
    }

    .col-lg-4 {
        width: 25%;
    }

    .col-lg-3 {
        width: 30%;
    }

}