*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;

}
.header1{
    width: 100%;
    height: 25px;
    background-color: rgb(66, 62, 62);
   
}
.header1 i{
    color: red;
    line-height: 25px;
}
a{
    padding-left: 5px;
    text-decoration: none;
    color: #fff;
    line-height: 25px;
}
.menu a:hover{
    color: red;
    border-bottom: 3px solid red;
}
.header1 a:hover{
    color: red;
}   

.d-flex{
    display: flex;
    padding: 0 10px;
    
    
}
.d-flex-flex{
    padding-left: 5%;
    padding-right: 5%;
}
.flex-end a{
    color: #fff;
    /* padding-left: 650px; */
}
.flex-end i{
    color: red;
}
.left-end {
   justify-content: flex-end;
}
.col-md-3{
    width: 25%;
    background-color:black; 

}
.col-md-3 a{
    float: left;

}
 aside{
    height: 100px;
    background-color: black;
 }

.logo img{
    line-height: 100px;
    margin: 13px;
    
}
.timkiem{
    line-height: 100px;
    text-align: center;
    margin: 13px;
       
}
form,input,select,button{
    height: 40px;
    margin-right: -4px;
    margin-top: -13px;
    
}
.form input{
    height:38px;
    width: 150px; 
    border: 1px solid #ccc;
}
.form input:hover{
    color: red;
}
.form select{
    border-radius:40px 0 0 40px;
    width: 150px;
    border: none;  
    padding: 0 5px;
    color: red;
}
.form button{
    border-radius: 0 40px 40px 0;
    width: 100px;
    height: 40px;
    padding-bottom: 1px;
    background-color: red;
   color: #fff;
  font-weight: 700px;
  border: none;
}
.form button:hover{
    color: red;
}
.col-md-6{
    width: 50%;
}
.box-1{
    height: 100px;
}
.box-1 i{
    color: red;
    display: block;
    padding: 30px 50px;
    
}
.box-1 a {
    padding: 0px 50px;
    margin: -30px -15px;
}
.box-1 a:hover{
    color: red;
}
.menu{
    height: 60px;
    border: #ccc 1px solid;
}
.menu ul{
    list-style: none;
}
.nav li{
    line-height: 60px;
    padding: 0 10px;
}
.nav li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
#nav li a:hover{
    color: red;
}
.col-80{
    width: 80%;

}
.col-25 {
    width: 30%;
}
.row img{
   width: 365px;
   margin: 50px 20px;
   border: 1px solid #725c5c ;
   background-color: #ccc; 
}
.col-20{
    width: 20%;
}
.box-ha .new-list .new-item img{
    width: 20%;
    padding: 2%;

}